<launch>
  <param name="/use_sim_time" value="false" />
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro'" />
    <param name="robot_description" command="$(arg urdf_file)" />
  
  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node name="slam_mapping" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basename lab1turtlebotBag.lua"
      output="screen">
  </node>      
      
  <node name="cartographer_occupancy_grid_node"
        pkg="cartographer_ros"
        type="cartographer_occupancy_grid_node"
        args="resolution 0.05" />
  <node name="playbag" pkg="rosbag" type="play"
        args="$(arg bag_filename)" />
</launch>
